<div class="show-wrapper">
  <h2 class="header">Here is your shortened URL!</h2>
  <% if Rails.env.production? %>
    <p class="shortened-url">https://hidden-depths-12575.herokuapp.com/<%= @url.short_url %></p>
  <% else %>
    <p class="shortened-url">localhost:3000/<%= @url.short_url %></p>
  <% end %>
  <div class="back-button"><%= link_to "Back", root_path %></div>
</div>